.add-style{
font-family: "Montserrat";
font-style: normal;
font-weight: 600;
font-size: 20px;
color: #334480;;
}
.main-style{
    display: flex;
    margin-bottom: 24px;
}
.maintitle-sty{
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-left: 7px;
}
.crd-style{
    border: none;
    box-shadow: 0 1px 11px 0 rgba(0,0,0,0.12);
    border-radius: none;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin-bottom: 30px;
}
// .theplayerseek{
//     margin-top: -15px;
// }
.the-edit{
    margin-left: 27rem;
    margin-top: 15px;
    font-size: 20px;
    cursor: pointer;
}
.the-closeicon{
    float: right;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}
.the-closeicon:focus{
    outline: none;
}
.title-sty{
    font-family: "Montserrat";
font-style: normal;
font-weight: bold;
font-size: 15px;
margin-left: 7px;
}
.img-sty{
    width: 22px;
    height: 22px;
    margin-top: -6px;
}
.titleimg-sty{
    margin: 20px 35px 10px;
}
.thecount{
    font-family: "Montserrat";
font-weight: bold;
font-size: 20px;
line-height: 24px;
float: right;
margin-top: 2px;
}
.body-sty{
    margin-left: 40px;
    width: 340px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 15px;
    color: #3B4859;
    margin-bottom: 1.4rem;
}
.the-border{
    cursor: pointer;
    border-style: dashed;
    border-width: 2px;
    border-color: lightgray;
    border-radius: 10px;
    width: 95%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
    margin-left: 10px;

}
.button-sty{
    margin-left: 7px;
    font-family: "Montserrat";
    margin-bottom: 2rem;
    background: #334480;
    border-color: #334480;
    color: #fff;
    padding: 4px 20px;
    font-size: 12px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    border: none;
}
.button-sty:focus, .footer:focus{
    outline: none;
}
.theimgs{
    width: 35px;
    margin-top: 5px;
}
.theimgclose{
    width: 35px;
    height: 35px;
    position: absolute;
    margin-left: -32px;
    margin-top: 15px;
}
.button-sty:hover, .footer:hover{
    background-color: #495c9b;
}
.sty1{
    margin-left: 40px;
}
.sty2{
    margin-bottom: 120px;
}
.adjust-title{
    font-family: "Montserrat";
    margin: 27px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
line-height: 14px;
color: #334480;
}
input[type="email"]{
    font-family: "Montserrat";
    border: none;
    margin-left: 30px;
    margin-bottom: 25px;
}
::-webkit-input-placeholder{
    font-family: "Montserrat";
    font-size: 15px;
    line-height: 18px;
    color: rgba(33, 33, 33, 0.25);
}
input:focus{
    outline: none;
}
.footer{ 
    position: fixed;
    bottom: 0;
    width: 560px;
    margin-left: -24px;
    background: #334480;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    color: white;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
} 
      input:-webkit-autofill,
      input:-webkit-autofill:hover, 
      input:-webkit-autofill:focus, 
      input:-webkit-autofill:active {
        box-shadow:  0 0 0 30px white inset !important;
    }

    .theadmin-sty{
        margin-left: 25px;
        font-family: "Montserrat";
    }
    .img-dimen{
        width: 30px;
        height: 30px;
        margin-top: 7px;
    }
    .title-adj{
        margin-top: 4px;
    }
    .email-adj{
        margin-top: -16px;
        margin-left: 8px;
        font-size: 10px;
    }
 .sty1{
     margin-bottom: 0.4rem;
 }
 .profile-sty{
     font-weight: bold;
 }
 .button-sty1{
    margin-left: 7px;
    font-family: "Montserrat";
    margin-bottom: 2rem;
    background: white;
    color: #334480;
    padding: 4px 20px;
    font-size: 12px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
    border: 1px solid #334480;
 }
 .btn-styy{
     margin-left: 32px;
 }
 .button-sty1:hover{
     background: aliceblue;
 }
 .thepropsebtn:focus{
     outline: none;
 }
//  .button-sty1:focus{
//      outline: none;
//  }
 .search-sty{
    width: 280px;
    border: 1px solid #334480;
    border-top-left-radius:5px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    margin-bottom: 31px;
 }
//  input[type = text]::placeholder{
//     font-weight: 500;
//     font-size: 13px;
//     line-height: 12px;  
//     left: 21px; 
//     color: #334480;
//  }
 .button-search-sty{
    height: 34px;
    border: 1px solid #334480;
    background: white;
    width: 120px;
    color: #334480;
    font-size: 13px;
    border-left: none;
    border-right:none;
 }
 .button-sty1:focus,.button-search-sty:focus,.search-ico-sty:focus{
     outline: none;
 }
 .search-ico-sty{
    height: 34px;
    width: 37px;
    border: 1px solid #334480;
    background: #334480;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: none;
 }
 .empty-sty{
    font-size: 20px;
    text-align: center;
    margin-top: 10vh;
    font-family: "Montserrat";
    color: #334480;
    font-weight: bold;
 }
 .balance-sty{
    float: right;
    margin-top: -32px;
    margin-left: 21rem;
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat";
 }
 .the-align{
     text-align: center;
 }
 .cover-img{
    width: 100%;
    height: 250px;
    margin-top: 12px;
    margin-left: -10px;
    border-radius: 10px;
 }
 .theprofileimg{
     width: 100px;
     height: 100px;
     border-radius: 50px;
     margin-top: -73px;
 }
 .thecard{
     cursor: pointer;
 }
 .thecard:focus{
     outline: #3B4859;
 }
 .theimgs-style{
     height: 150px;
 }
 .theimages-public{
     width: 100px;
     height: 80px;
 }
 .theimage-styy1{
    cursor: pointer;
    border: none;
    text-align: center;
    margin-left: auto;
 }
 .balance-titlesty{
    float: right;
    margin-top: -22px;
    margin-left: 21rem;
    font-size: 9px;
    font-family: "Montserrat";
 }
 ::-webkit-scrollbar {
    display: none!important;
  }
  .arrow-sty{
    float: right;
    border-radius: 5px;
    background-color: #334480;
    border: 1px solid white;
    color: white;
    font-size: 12px;
    padding: 5px;
    font-family: "Montserrat";
  }
  .arrow-sty:focus{
      outline: none;
  }
.arrow-sty:hover{
    background: #495c9b;;
}
.gxcheck-sty{
    text-align: center;
    color: #334480;
    font-style: italic;
    font-family: "Montserrat";
}
.usrnm-sty{
    color: #334480;
    font-family: "Montserrat";
    font-weight: bold;
}
.thepropbtn{
    text-align: center;
    margin-top: -10px;
    background-color: #334480 !important;
    color: white !important;
    font-family: "Montserrat";
}
.gxtitle-sty{
    color: #334480;
}
.whitearrow-sty{
    float: left;
    padding: 20px;
    background: #334480;
    margin-left: -24px;
    position: fixed;
    bottom: 0;
    cursor: pointer;
}
.centerbtn-sty{
    border: none;
    background: #334480;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: "Montserrat";
    margin-top: 2px;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 503px;
    margin-left: 33px;
    text-align: center;
    padding-right: 64px;
}
.centerbtn-sty:focus{
    outline: none;
}
.thetext-styy1{
    margin-left: 28px;
    border: none;
    margin-bottom: 19px;
    width: 430px;
}
.outer{
  display: table;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.middle{
    display: table-cell;
    vertical-align: middle;
}
.validation-chk{
    color: #334480;
    font-weight: bold;
}
.drop-sty{
    margin-left: 15px;
    font-family: "Montserrat";
    margin-bottom: 15px;
}
// input[type=tel]{
//     color: #334480;
//     border: none;
//     border-bottom: 1px solid #334480;

// }
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
  }
  .resend-sty{
    position: fixed;
    bottom: 43px;
    text-align: end;
    color: #334480;
    font-family: "Montserrat";
  }
  .btnresnd-sty{
    border: none;
    background: #334480;
    color: white;
  }
  .btnresnd-sty:focus{
      outline: none;
  }
  .widthcard{
      width: 250px;
  }
  .namewidth{
      width: 220px;
  }
  .adj{
      margin-left: auto;
  }
  
  .theimage-styy::before{
    content: 'Browse';
    height: 40px;
    width: 350px;
    border-radius: 6px;
    background-color: #334480;
    color: #fff;
    border: 1px solid #999;
    white-space: nowrap;
    -webkit-user-select: none;
    font-family: "Montserrat";
    padding: 15px;
  }
  .theimage-styy1::before{
    content: 'Browse';
    height: 40px;
    width: 350px;
    border-radius: 6px;
    background-color: #334480;
    color: #fff;
    border: 1px solid #999;
    white-space: nowrap;
    -webkit-user-select: none;
    font-family: "Montserrat";
    padding: 15px;
  }
  .theimage-styy{
    cursor: pointer;
    margin-left: 28px;
    border: none;
    margin-bottom: 19px;
  }
  .theplaypausebtn-sty{
    margin-top: -50px;
    position: relative;
    text-align: center;
    margin-left: -470px;
    cursor: pointer;
}
  .theimage-styy:focus, .theimage-styy1:focus{
      outline: none !important;
  }
  .theimage-styy::-webkit-file-upload-button{
    visibility: hidden;
  }
  .theimage-styy1::-webkit-file-upload-button{
    visibility: hidden;
  }
  .img-stye{
    width: 57px;
    height: 57px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    margin-top:-35px;
  }
  .img-styemodal{
      width: 100px;
      height: 100px;
      margin-left: 14px;
      margin-top: 15px;
  }
  .img-stye1{
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    max-height: 225px;
    margin-bottom: 20px;
}
.thedrop-stye1{
    margin-left: 28px;
    margin-bottom: 19px;
}
.textarea-width{
    width: 460px;
}
.addprofilesubmit{
    position: unset;
    margin-bottom: 17px;
}
.coverprofile-sty{
    width: 510px;
    height: 210px;
    border-radius: 20px;
    border: 1px solid #334480;
}
.profileimage-sty12{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: -80px;
    border-radius: 100px;
    height: 100px;
    border: 3px solid white;
    position: relative;
}
.usrnm-styee{
    text-align: center;
    font-family: 'Montserrat';
    color: #334480;
    font-weight: 600;
}
.userdtl-stye{
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 20px;
}
.inf-stye{
    padding-left: 50px;
    color: #334480;
    font-family: 'Montserrat';
    font-weight: 600;
}
.colon-stye{
    margin-left: auto;
    margin-right: auto;
}
.data-stye{
    padding-right: 50px;
    font-family: 'Montserrat';
    margin-left: auto;
}
.thestye135{
    padding-left: 50px;
}
.styll{
    padding-top: 25px;
}
.fonts1{
    font-size: 12px;
}
.thebtmsty{
    margin-bottom: 0.6rem;
}
.inputtitle{
    border: none;
    margin-left: 25px;
    margin-bottom: 1.5rem;
}
.inputtxtarea{
    border: none;
    margin-left: 25px;
    width: 480px;
}
.inputtxtarea:focus{
    outline: none;
}
.inputtitle:focus{
    outline: none;
}
.previewbtn{
    text-align: center;
    width: 85px;
    height: 50px;
    margin-left: auto;
    border-radius: 6px;
    margin-top: -59px;
    margin-bottom: 20px;
    margin-right: 15px;
    background-color: #334480;
    color: white;
    border: 1px solid #999;
    font-family: "Montserrat";
}
.theclausesty{
    margin-left: 25px;
    color: #334480;
    font-family: "Montserrat";
    margin-bottom: 10px;
    margin-top: 3px;
    margin-left: 25px;
}
.thefullscrn-btn{
    position: relative;
    margin-top: -300px;
    margin-left: 94%;
    cursor: pointer;
}
.thefullscrn-btn1{
    position: relative;
    margin-top: -365px;
    margin-left: 95%;
    cursor: pointer;
}
.theinpclausesty{
    margin-left: 50px;
    margin-bottom: 12px;
    border:1px solid lightgray;
}
.theminusbtn{
    margin-left: 8px;
    margin-top: 6px;
}
.img-stye2{
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    max-height: 225px;
    margin-bottom: 20px;
    margin-left: 28px;
}
.addclausebtn{
    width: 470px;
    margin-bottom: 20px;
    margin-left: 25px;
}
.marginsty{
    margin-left: 25px;
}
.thebtm{
    margin-bottom: 0px;
}
.btmste{
    margin-bottom: 18px;
}
.thekeysty{
    color: #334480;
    font-weight: bold;
}
.adjstyle{
    margin-left: 20px;
    font-family: "Montserrat";
}
.thetitlesty{
    margin-top: 20px;
    margin-left: 20px;
    font-family: "Montserrat";
}
.thepadsty{
    padding: 50px;
}
.theimages{
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-top: 10px;
}